<header class="header">
  <nav class="navbar" id="main-navbar">
    <div class="nav-container">
      <a routerLink="/home" class="navbar-brand">Vaccination System</a>
      
      <div class="nav-links" id="navLinks">
        <a routerLink="/home">Home</a>
        <a routerLink="/vaccinated">Vaccinated List</a>
        <a routerLink="/search">Search</a>
        <ng-container *ngIf="auth.isLoggedIn()">
          <a routerLink="/admin/add-person">Add Person</a>
          <a routerLink="/admin/add-vaccine">Add Vaccine</a>
          <a routerLink="/admin/add-vaccination">Register Vaccination</a>
        </ng-container>
      </div>
      
      <div>
        <button *ngIf="auth.isLoggedIn()" (click)="logout()" class="logout-btn">Logout</button>
        <a *ngIf="!auth.isLoggedIn()" routerLink="/login" class="login-link">Login</a>
      </div>
    </div>
  </nav>
</header>